<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Primeiro CRUD em Angular7.
  </h1>
</div>

<ul class="pessoaList">
  <li *ngFor = "let pessoa of pessoaCollection" (click)="OpenForEdit(pessoa)" [class.selected]="pessoa == selectedPessoa">
    <span class="badge">{{pessoa.id}}</span> {{pessoa.nome}} - {{pessoa.fone}}
  </li>
</ul>

<div class="pessoaForm">
  <label>{{selectedPessoa.id == 0 ? "Nova Pessoa":"Editar Pessoa"}}</label> <br/>
  <input [(ngModel)] = "selectedPessoa.nome" class="textBox" placeholder="Nome"/> <br/>
  <input [(ngModel)] = "selectedPessoa.fone" class="textBox" placeholder="Telefone"/><br/>
  <button (click)="AddOrEdit()">Submit</button>
  <button *ngIf = "selectedPessoa.id != 0" (click)="Delete()">Deletar</button>
</div>

